<div>
    <div class="row" style="padding-top: 40px">
        <div class="col-md-offset-3 col-md-6">
            <label class="control-label col-md-2 text-right" style="line-height: 32px" >名称</label>
            <div class="col-md-10">
                <input class="form-control" placeholder="请输入名称" ng-model="type.name">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <label class="control-label col-md-2 text-right" style="line-height: 32px">描述</label>
            <div class="col-md-10">
                <input class="form-control" placeholder="请输入描述" ng-model="type.description">
            </div>
        </div>
    </div>
    <!--<div class="row">-->
        <!--<div class="col-md-offset-3 col-md-6">-->
            <!--<label class="control-label col-md-2 text-right" style="line-height: 32px">数量</label>-->
            <!--<div class="col-md-10">-->
                <!--<input class="form-control" placeholder="请输入数量" ng-model="type.prodCount">-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <div class="row" align="center" style="margin-top: 20px">
        <button class="btn-default btn" ng-click="cancleClick()">&nbsp; 取&nbsp;&nbsp;消 &nbsp;</button>
        <button class="btn-success btn" ng-click="saveClick()">&nbsp; 保&nbsp;&nbsp;存 &nbsp;</button>
    </div>

</div>