<form >
    <div class="input-group" style="margin-top: 20px">
        <span class="input-group-addon">用户名</span>
        <input type="text" class="form-control" placeholder="Username" required aria-describedby="basic-addon1">
    </div>
    <div class="input-group" style="margin-top: 20px">
        <span class="input-group-addon">手机号</span>
        <input type="text" class="form-control" placeholder="phone" required aria-describedby="basic-addon1">
    </div>
    <div class="input-group" style="margin-top: 20px">
        <span class="input-group-addon">邮箱&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <input type="text" class="form-control" placeholder="email" required aria-describedby="basic-addon1">
    </div>
    <div class="input-group" style="margin-top: 20px">
        <span class="input-group-addon">密码&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <input type="text" class="form-control" placeholder="password" required aria-describedby="basic-addon1">
    </div>

    <div class="input-group" style="margin-top: 40px;">
        <input type="submit" ng-click="addUserClick()" style="width: 100px;height: 40px;background: white;border: 1px #eee solid"/>
    </div>
</form>